.slide-left-enter {
  transform: translate(100%);
}

.slide-left-leave.slide-left-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

.slide-right-enter {
  transform: translate(-100%);
}

.slide-right-leave.slide-right-leave-active {
  transform: translate(100%);
  transition: transform 1000ms ease-in-out;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1s;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 1s;
}

.animation-container > * {
  left: 0;
  position: fixed;
  width: 100%;
}

.slide-left-enter.slide-left-enter-active,.slide-right-enter.slide-right-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}

.slide-left-leave,.slide-right-leave {
  transform: translate(0%);
}