/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */

/*end reset*/
.logo{
	width: 10%;
}
.wrap{
	margin:0 auto; 
	width: 96%;
	text-align: left;
}
.wrap>h1{
	color:#603813;
	font-size:3em;
	font-weight:bold;
	margin-top:20px;
	text-transform:uppercase;
}
.wrap> .banner{
	text-align:center;
}
.banner>img{
	margin-top: 0px;
}
.page{
	text-align:center;
	font-family: "Century Gothic";
}
.page h2{
	font-size:3em;
	color: rgb(99, 44, 37);
	font-weight:bold;
}
/*media queries*/
@media all and (max-width:1366px) and (min-width:1280px){
.wrap{
	width: 90%;
}
.wrap>.banner{
	margin-top: 30px;
}
}
@media all and (max-width:1280px) and (min-width:1024px){
.wrap{
	width: 90%;
}
}	
@media all and (max-width:1024px) and (min-width:800px){
.wrap{
	width: 90%;
}
.wrap>h1{
	font-size: 2em;
}
.wrap>.banner{
	margin-top: 0px;
}
.page>h2{
	font-size: 2em;
}
}
@media all and (max-width:800px) and (min-width:640px){
.wrap{
	width: 90%;
}
.wrap>h1{
	font-size: 2em;
}
.wrap>.banner{
	margin-top: 10px;
}
.banner>img{
	width: 34%;
}
.page>h2{
	font-size:2em;
}
}
@media all and (max-width:640px) and (min-width:480px){
.wrap{
	width: 90%;
}
.wrap>h1{
	font-size: 1.6em;
}
.wrap>.banner{
	margin-top: 0px;
}
.banner>img{
	width: 32%;
}
.page>h2{
	font-size:1.6em;
}
}
@media all and (max-width:480px) and (min-width:320px){
.wrap{
	width: 90%;
}
.wrap>h1{
	font-size: 1.4em;
}
.wrap>.banner{
	margin-top: 0px;
}
.banner>img{
	width: 32%;
}
.page>h2{
	font-size:1.4em;
}
}
@media all and (max-width:320px){
.wrap{
	width: 90%;
}
.wrap>h1{
	font-size: 1.4em;
}
.wrap>.banner{
	margin-top: 10px;
}
.banner>img{
	width:70%;
}
.page>h2{
	font-size:1.4em;
}
}