.weather-widget {
  margin: 0;
  color: white;
  font-family: league-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid white;
}

.weather-widget.very-warm {
  background-color: #FF8500;
}

.weather-widget.warm {
  background-color: #ffc600;
}

.weather-widget.normal {
  background-color: #94AF10;
}

.weather-widget.cold {
  background-color: #06799F;
}

.weather-widget.very-cold {
  background-color: #233884;
}

.city {
  font-size: 10vh;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  flex: 1;
}

.weather {
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  flex: 1;
  padding-bottom: 5vh;
  margin: 5vw;
  margin-top: 0;
}

.weather-icon {
  -ms-transform: weather-icon-spin infinite 5s linear;
  -webkit-transform: weather-icon-spin infinite 5s linear;
  animation: weather-icon-spin infinite 5s linear;
}

.weather .wi {
  font-size: 30vh;
}

.weather-details {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  /* current syntax */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex: 3;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 7vh;
}

.left-side {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  flex: 1;
}

.right-side {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  flex: 1;
}

.weather-details .temp {
  padding-right: 2vw;
  font-size: 16vh;
}

.weather-details .temp .temp-number, .weather-details .temp .wi {
  vertical-align: top;
  line-height: 0.85em;
  text-align: right;
}

.weather-details .temp .wi {
  font-size: 1.5em;
  line-height: 0.8em;
}

.numbers {
  padding-left: 0.75vw;
}

.weather-details .humidity, .weather-details .wind {
  text-align: left;
}

.weather-details .wind .wi {
  font-size: 0.82em;
}

.weather-details .wind .vel {
  font-size: 0.6em;
}

.weather-details .wind>p, .weather-details .humidity>p {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .weather-details .temp {
    font-size: 4em;
  }
  .weather-details .humidity, .weather-details .wind {
    font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  .weather-details .temp {
    font-size: 3em;
  }
  .weather-details .humidity, .weather-details .wind {
    font-size: 2em;
  }
}

@keyframes weather-icon-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}